<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.maker.dao.DeptMapper">
  	<select id="findAllSplit" resultType="com.maker.domain.Dept">
  		Select deptno,deptname,loc from dept
  		
  	</select>
  </mapper>