<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.maker.dao.SysUserMapper">
  <resultMap type="com.maker.domain.SysUser" id="sysuserMap">
  	<id column="id" property="id"/>
  	<result column="username" property="username"/>
  	<result column="password" property="password"/>
  	<result column="email" property="email"/>
  	<result column="phoneNum" property="phoneNum"/>
  	<collection property="role" ofType="com.maker.domain.Role">
  		<id column="roleId" property="id"/>
  		<result column="roleName" property="roleName"/>
  		<result column="roleDesc" property="roleDesc"/>
  	</collection>
  </resultMap>
  	<select id="findAll" resultMap="sysuserMap">
  	<!-- 三表查询，左连接,查询所有用户信息 -->
  		Select * from sys_user u LEFT JOIN sys_user_role ur ON u.id=ur.userId LEFT JOIN sys_role r ON ur.roleId=r.id;
  	</select>
  </mapper>