<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>WebTest1</display-name>
  <context-param>
    <param-name>myparam</param-name>
    <param-value>xiajunjie123</param-value>
  </context-param>
  <context-param>
    <param-name>myparam2</param-name>
    <param-value>xia</param-value>
  </context-param>
  <context-param>
    <param-name>myparam3</param-name>
    <param-value>jun</param-value>
  </context-param>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <error-page>
    <error-code>404</error-code>
    <location>/ErrorPage404.jsp</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/ErrorPage.jsp</location>
  </error-page>
  <servlet>
    <servlet-name>HelloServlet</servlet-name>
    <servlet-class>com.maker.servlet.HelloServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloServlet</servlet-name>
    <url-pattern>/hello.action</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HelloServlet</servlet-name>
    <url-pattern>/hello/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>InputServlet</servlet-name>
    <servlet-class>com.maker.servlet.InputServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InputServlet</servlet-name>
    <url-pattern>/input.action</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>BaseFilter</filter-name>
    <filter-class>com.maker.filter.Filter_review</filter-class>
    <init-param>
      <param-name>title</param-name>
      <param-value>Filter Test</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>BaseFilter</filter-name>
    <url-pattern>/*</url-pattern>
    <dispatcher>FORWARD</dispatcher>
  </filter-mapping>
  
  <filter>
  <filter-name>EncodingFilter</filter-name>
  <filter-class>com.maker.filter.Encoding_Filter</filter-class>
  <init-param>
  <param-name>charset</param-name>
  <param-value>UTF-8</param-value>
  </init-param>
  </filter>
  
  <filter-mapping>
  <filter-name>EncodingFilter</filter-name>
  <url-pattern>/*</url-pattern>
  </filter-mapping>
  
  
  <filter>
  <filter-name>LoginFilter</filter-name>
  <filter-class>com.maker.filter.Login_Filter</filter-class>
  <init-param>
  <param-name>auth</param-name>
  <param-value>uname</param-value>
  </init-param>
  </filter>
  <filter-mapping>
  <filter-name>LoginFilter</filter-name>
  <url-pattern>/Login/*</url-pattern>
  </filter-mapping>
  
 <listener>
  <listener-class>com.maker.listener.Listener_review</listener-class>
  </listener>
 
  <listener>
  <listener-class>com.maker.listener.Session_Listener</listener-class>
  </listener>
</web-app>